html, body {margin: 0; padding: 0;}

article {
    text-align: center;
}

div.guestbook{
    width:960px;
    margin:0 auto;
}

div.write-box {
    display:flex;
    justify-content: center;
    background-color: #eeeeee;
    border-bottom: 3px #999999 solid;
    border-top: 3px #999999 solid;
    margin-top:30px;
}

div.write-box-head {
    margin-top:15px;
}

p{
    margin-top:0px;
    margin-right:15px;
    margin-bottom:6px;
}

textarea{
    resize:none;
    margin-top:15px;
    margin-bottom:15px;
}

input.write-button{
    margin:15px;
    width:100px;
    height:40px;
    font-weight: bold;
}

input {
    width:150px;
    height:25px;
    font-size:12px

}

div.comment-container{
    width:960px;
    margin:0 auto;
}

ul{
    padding:0;
    margin:0;
    margin-bottom:15px;
    border-bottom: 2px #999999 solid;
}

li {
    display:flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px #dddddd solid;
    padding-top:15px;
    padding-bottom:15px;
}

div.comment-nickname{
    width:250px;
    font-weight:bold;
    font-size:13px;
}

div.comment-content{
    width:calc(100% - 550px);
    font-size:12px;
    text-align:left;
}

div.comment-datetime{
    width:200px;
    font-size:12px;
}

div.comment-buttons{
    width:100px;
}

button.comment-button{
    margin:1px;
    width:60px;
    height:30px;
    font-size:12px;
}
