html, body {margin: 0; padding: 0;}

article {
    text-align: center;
}

.userinfo {
    height:25px;
    font-size:12px

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

/* ========================================================
header
======================================================== */
#header-box{
    border-bottom:1px solid gray;
    /* min-height:80px; */
}

#header{
    width:960px;
    margin:5px auto;
    text-align:right;

    font-size:12px;
}

.button-header-mini{
    font-size:12px;
    border-radius: 3px;
    border: 1px solid gray;
    background-color: #555555;
    color: #ffffff;
}



/* ========================================================
login
======================================================== */
div.login-box{
    margin:100px auto;
    width:240px;
    padding: 50px 25px;

    background-color:#eaeaea;
}

.login-form{
    display:flex;
    justify-content: center;
}

.join-link{
    color:#555555;
    font-size:11px;
    margin-top:5px;
    float:left;
}

input.login-button{
    width:100%;
    padding:15px 0;
    font-weight: bold;
}




/* ========================================================
join
======================================================== */
div.form_group{
    width:960px;
    margin:0 auto;
    border-top:1px solid gray;
}

div.element-group{
    display:flex;
    border-bottom:1px solid gray;
}

span.red{
    color:red;
    font-weight:bold;
}

div.element-label{
    width:200px;

    display:flex;
    align-items: center;
    justify-content: center;

    font-size: 15px;
    font-weight:bold;
    padding-right:30px;
    padding-top:10px;
    padding-bottom:10px;
    background-color:#eaeaea;
}

div.element{
    float:left;
    text-align:left;
    padding-left:20px;
    padding-top:10px;
    padding-bottom:10px;
    font-size:12px;
    width:auto;
}

.message{
    font-size:12px;
    color:#333333;
}

.phoneNumber{
    font-size:12px;
    width:45px;
    height:25px;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

input.button{
    padding-right:30px;
    padding-left:30px;
    height:40px;
    font-weight:bold;
}






/* ========================================================
guestbook
======================================================== */
div.guestbook{
    width:960px;
    margin:0 auto;
}

div.write-box {
    display:flex;
    justify-content: center;
    background-color: #eeeeee;
    border-bottom: 3px #999999 solid;
    border-top: 3px #999999 solid;
    margin-top:30px;
}

div.write-box-head {
    margin-top:15px;
    min-width: 176px;
}

p.userinfo{
    margin-top:0px;
    margin-right:15px;
    margin-bottom:6px;
}

textarea.write-content{
    resize:none;
    margin-top:15px;
    margin-bottom:15px;
}

input.write-button{
    margin:15px;
    width:100px;
    height:40px;
    font-weight: bold;
}

div.comment-container{
    width:960px;
    margin:0 auto;
}

ul.guestbook-container{
    padding:0;
    margin:0;
    margin-bottom:15px;
    border-bottom: 2px #999999 solid;
}

li.cmt {
    display:flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px #dddddd solid;
    padding-top:15px;
    padding-bottom:15px;
    position:relative;
    min-height: 64px;
}

div.comment-nickname{
    width:200px;
    margin-right:50px;
    font-weight:bold;
    font-size:13px;
}

div.comment-content{
    width:400px;
    font-size:12px;
    text-align:left;
}

div.comment-datetime{
    position:relative;
    width:200px;
    font-size:12px;
}

div.comment-buttons{
    width:100px;
}

input.comment-button{
    margin:1px;
    width:60px;
    height:30px;
    font-size:12px;
}

div.password-box{
    width:200px;
    height:40px;
    margin:0 auto;
    background-color:#555555;

    display:flex;
    justify-content:center;
    align-items: center;

    position:absolute;
    right:-5px;
    top:-50%;
}

input#password-input{
    width: 100px;
    margin-right:3px;
}

input.password-button{
    width:40px;
    height:30px;
    font-size:12px;
}

div.editbox{
    background-color:white;
    width:700px;
    height:100%;

    display:flex;
    align-items: center;

    position:absolute;
    /* right:0px; */
    top:-0%;
    z-index:10;
}

textarea.editbox{
    width:400px;
    margin-right:50px;
    resize:none;
    font-
}
